# Build
bin/
obj/

# User files
.vs/
.vscode/

# Node
node_modules/

# Logs
*.log

# Environment
.env

# SQL
*.mdf
*.ldf

# OS
Thumbs.db
.DS_Store

# Rider
.idea/

# Coverage
coverage/

# Publish
publish/

# Packages
packages/

# User Secrets
secrets.json